Debug/*
Release/*
*.vcxproj
*.filters
*.user
*.lnk
*.vs
*.cmake
*.BearBones.dir
*.stamp
!spec/*.stamp
*.obj
!spec/*.obj
*.log
!spec/*.log
*.pdb
!spec/*.pdb
*.exe
!spec/*.exe
*.dll
!spec/*.dll
*.lastbuildstate
!spec/*.lastbuildstate
*.tlog
!spec/*.tlog
bin/*
CMakeFiles/*
*.depend
!spec/*.depend
*.txt
*.sln
Game.dir/*